header{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 130px;
  max-width: 1160px;
}
h1{
  font-size: var(--header-one-l);
}
#subtitle-main{
  letter-spacing: 0.3px;
}
#theme{
  justify-content: flex-end;
  padding-bottom: 32px;
}
#theme:hover > #title-theme{
  color: var(--text);
}
#theme:hover > .toggle{
  background: var(--toggle-h);
}
#theme:hover > .toggle > .slider{
  background-color: var(--bg-card-a);
}
#title-theme{
  padding-right: 12px;
}
#top-cards{
  margin-top: -107px;
}
#main-title{
  border: none;
}
.card {
  width: 254.75px;
  margin: 0px 15px 30px;
}
#today-tittle {
  margin: 0;
  padding: 17px 0px 25px;
}