:root{
    /*Layout*/
    --min-width: 375px;
    --max-width: 1440px;    
    /*Tipography*/
    --card-social: 12px;
    --card-headings: 14px;
    --card-followers: 58px;
    --card-followers-today: 12px;
    --card-number-today: 32px;
    /*Cards*/
    --card-width: 325px;
    --card-margin: 12.5px;

}
*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body{
    min-width: var(--min-width);
    max-width: var(--max-width);
    margin: auto;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card{
    width: var(--card-width);
    margin: var(--card-margin);
    border-radius: 4px;
    overflow: hidden;    
}
.card.border::before{
   content: "";
   display: block; 
   height: 4px;
}
.top-tittle{
    padding: 20px 0px 10px 0px;
    width: 100%;
    display: flex;  
    justify-content: center;
    align-items: center;  
}
.logo{
    margin-right: 7px;
}
.username{
    font-size: var(--card-social);
}
.follow-number{
    padding: 0;
    margin: 0;
    font-size: var(--card-followers);
    letter-spacing: -3px;
}
.follow-text{
    padding: 0;
    margin: -2px 0px 10px 0px;
    text-transform: uppercase;
    font-size: var(--card-social);
    letter-spacing: 5px;
}
.follow-today{
    margin: 13px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--card-followers-today);
    font-weight: bold;
}
#today-tittle{
    margin: 33px 25px 17px 25px; 
}
.card.today{
    margin: 10px 0px 10px 0px;
}
.top-card, .body-card{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.top-card{
    margin: 13px 30px 0px 23px;
}
.body-card{
    margin: 0px 30px 5px 23px;
}
.title{
    font-size: var(--card-headings);
}
.percentage{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--card-followers-today);
    font-weight: bold;
    padding-top: 13px;
}
.percentage p{
    margin-left: 2px;
}
.number{
    padding: 0;
    margin: 10px 0px;
    font-size: var(--card-number-today);    
}