@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    /*Layout*/
    --min-width: 375px;
    --max-width: 1440px;
    /*Primary Colors*/
    --lime-green: hsl(163,72%,41%);
    --bright-red: hsl(356,69%,56%);
    --fb-color: hsl(208, 92%, 53%);
    --tw-color: hsl(203, 89%, 53%);
    --ig-color: linear gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
    --yb-color: hsl(348, 97%, 39%);
    --toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
    --toggle-light: hsl(230, 22%, 74%);
    /*Neutral Colors*/
    --bg-dark: hsl(230, 17%, 14%);
    --top-bg-dark: hsl(232, 19%, 15%);
    --bg-card-dark: hsl(228, 28%, 20%);
    --text-secondary-dark: hsl(228, 34%, 66%);
    --text-dark: hsl(0, 0%, 100%);
    --bg-light: hsl(0, 0%, 100%);
    --top-bg-light: hsl(225, 100%, 98%);
    --bg-card-light: hsl(227, 47%, 96%);
    --text-secondary-light: hsl(228, 12%, 44%);
    --text-light: hsl(230, 17%, 14%);
    /*Tipography*/
    --card-headings: 14px;
}
body{
    font-family: 'Inter', sans-serif;
}